#wrapper {
	margin: 20px;
	background-color: black;
	border-color: green;
}

#fullbody {
	background-color: black;
	font-family: 'VT323', monospace;
}

    
#content { 
    color: green;
	background-color: black;
}

a {
	color: lightgreen;
}

#header{
	color: green;
	background-color: black;
}

#prompt {
	position: relative;
	bottom: 0px;
	background-color: black;
	color: green;
}

#cmd {
	background-color: black;
	caret-color: green;
	/* caret-shape: block; */
	color: green;
	outline: none;
	border: none;
	font-family: 'VT323', monospace;
	width: 50%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;

}

li {
	display: inline;
}